@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #3674B5; 
    color: #A1E3F9;
}

.titulo-destaque {
    color: #211C84;
}

.apresentacao{
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo{
    width: 615px;
    height: 428px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Oswald", sans-serif;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: #211C84;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}